.th {
  padding: 0;
}

.control {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}

.icon {
  width: rem(21px);
  height: rem(21px);
  border-radius: rem(21px);
}

.tableRow:hover {
  cursor: pointer;
  background-color: rgb(231, 236, 242);
}
.imgScale {
  transform: scale(1.2);
}

/* to card */
.card {
  background-color: var(--mantine-color-body);
}

.imageSection {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.label {
  margin-bottom: var(--mantine-spacing-xs);
  line-height: 1;
  font-weight: 700;
  font-size: var(--mantine-font-size-xs);
  letter-spacing: rem(-0.25px);
  text-transform: uppercase;
}
